/* Estilos básicos */
body {
    background-color: #cadffb;
    font-family: 'Krub', sans-serif;
    margin: 0;
    padding: 0;
}

/* Variables de color */
:root {
    --fuente-titulo: 'Pacifico', cursive;
    --fuente-principal: 'Krub', sans-serif;
    --lila-easily: #9249bc;
    --verde-easily: #2e8b57;
}

/* Estilo de encabezado */
h1, h2 {
    font-family: var(--fuente-titulo);
    color: var(--verde-easily);
}

/* Centrado */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar superior */
.navbar {
    background-color: #333;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* Hero con video de fondo */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-text h1 {
    font-size: 3em;
    margin: 0;
}

.hero-text h2 {
    font-size: 1.5em;
    margin-top: 0.5em;
}

/* Tabla */
.tabla {
    margin: 50px;
    display: grid;
}

.no-border {
    border: none;
}

.td, .th {
    border: 1px solid black;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

/* Botones */
.btn {
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin: 10px;
    font-family: var(--fuente-principal);
    font-weight: 900;
    background-color: #84b6f4;
    color: #FFF;
}

.btn_green:hover {
    background-color: #77dd77;
}

.btn_red:hover {
    background-color: #ff6961;
}

.btn_orange:hover {
    background-color: #ffca99;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-nav ul li {
    margin: 0 15px;
}

.footer-nav ul li a {
    color: white;
    text-decoration: none;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}
.fuente_Pacifico {
    font-family: 'Pacifico', cursive;
}
.verde {
    color: var(--verde-easily);
}
.lila {
    color: var(--lila-easily);
}