q<!DOCTYPE html>
<html lang="es">
<head>
    <title>Easily-Store</title>
    <link rel="stylesheet" type="text/css" href="/static/css/css.css">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#categorias">Categorías</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="#carrito">Carrito</a></li>
            </ul>
        </nav>
        <div class="hero">
            <video autoplay muted loop id="background-video">
                <source src="/static/video/1006-142621176_small.mp4" type="video/mp4">
                Tu navegador no soporta videos HTML5.
            </video>
            <div class="overlay"></div>
            <div class="content">
                <h1 class="center-content verde">Easily-Store</h1>
                <p class="center-content blanco">La mejor tienda de ropa</p>
            </div>
        </div>
    </header>
    <body>
        <form action="/process" method="POST">
            <label for="producto" class="palabras">Agregar una prenda: </label>
            <input type="text" id="producto" name="producto"><br>
            <label for="cantidad" class="palabras">Cantidad: </label>
            <input type="int" id="cantidad" name="cantidad"><br>
            <label for="precio" class="palabras">Precio:$</label>
            <input type="int" id="precio" name="precio"><br>
            <label for="talle" class="palabras">Talle:  </label>
            <select id="talle" name="talle">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
            </select>
            <label for="colores">Color/es:  </label>
            <input type="text" id="colores" name="colores"><br>
            <input type="submit" value="Agregar" class="submit-button">
        </form>

        <form action="/edit/<int:id>" method="POST">
            <input type="submit" value="Editar" class="button_editar">
        </form>
        <form action="/mostrar" method='POST'>
            <input type="submit" value="Ver Stock" class="button-mostrar">
        </form>
    </body>
    <main>
        <div class="tabla">
            <div class="center-content">
                <table>
                    <tr>
                        <th class="th">Id</th>
                        <th class="th">Prenda</th>
                        <th class="th">Cantidad</th>
                        <th class="th">Talle</th>
                        <th class="th">Colores</th>
                        <th class="th">Precio</th>
                    </tr>
                    {% for prenda in Stock %}
                    <tr class="datos">
                        <td>{{ prenda.id }}</td>
                        <td>{{ prenda.producto }}</td>
                        <td>{{ prenda.cantidad }}</td>
                        <td>{{ prenda.talle }}</td>
                        <td>{{ prenda.colores }}</td>
                        <td>{{ prenda.precio }}</td>
                    </tr>
                    {% endfor %}
                </table>                
            </div>
        </div>
    </main>
    <footer>
        <nav class="footer-nav">
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="#trabaja">Trabaja con nosotros</a></li>
            </ul>
        </nav>
        <br>
        <p><span class="fuente_Pacifico verde">Easily-Store</span> es parte de <span class="fuente_Pacifico lila">Easily</span></p>
    </footer>
</body>
</html>
