<DOCTYPE html>
<html lang="es">
    <head>
        <title>Easily-Store</title>
        <link rel="stylesheet" type="text/css" href="/static/css/css.css">
        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
    </head>
    <body>
        <h1 class="centrar">Easily-Store</h1>
        <h2 class="centrar">La mejor tienda de ropa.</h2>
        <div class="tabla">
            <table>
                <tr>
                    <th class="th">Prenda</th>
                    <th class="th">Talla</th>
                    <th class="th">Cantidad</th>
                </tr>
                <tr>
                    <th class="th">Prenda</th>
                    <th class="th">Talla</th>
                    <th class="th">Cantidad</th>
                    <th><button class="verde">
                        <span class="shadow"></span>
                        <span class="edge"></span>
                        <span class="front text">Editar
                        </span>
                        </button></th>
                    <th>Eliminar</th>
                </tr>
            </table>
        </div>
    </body>
</html>